Repository DeFiCh/playground, pull requests merged in 2021-08, with the labels that each got.

#115 Added `SetupMasternode` for adding of 2 MN into playground
  package-lock.json
  package.json
  src/module.playground/_module.e2e.ts
  src/module.playground/_module.ts
  src/module.playground/setup/setup.masternode.ts
  src/module.playground/setup/setup.oracle.ts
  src/module.playground/setup/setup.ts
Labels: area/module-playground, kind/feature

#116 `defichain-dependencies.yml` to bump jellyfish/whale/playground individually
  .github/workflows/defichain-dependencies.yml
Labels: area/workflow, kind/chore

#124 Bump @nestjs deps
  package-lock.json
  package.json
Labels: kind/dependencies

#126 Bump all dependencies
  package-lock.json
  package.json
Labels: kind/dependencies

#128 added rescan to fix missing balance
  src/module.playground/_module.e2e.ts
  src/module.playground/_module.ts
Labels: area/module-playground, kind/fix

#130 added USDC to playground
  packages/playground-api-client/__tests__/api/wallet.test.ts
  packages/playground-api-client/src/errors/index.ts
  src/module.playground/_module.e2e.ts
  src/module.playground/setup/setup.dex.ts
  src/module.playground/setup/setup.token.ts
Labels: area/module-playground, area/playground-api-client, kind/feature

#131 fixed wrong import use in playground-api-client
  packages/playground-api-client/src/errors/index.ts
Labels: area/playground-api-client, kind/fix

#134 set `LP_REWARD` on poolpair
  packages/playground-api-client/__tests__/playground.rpc.client.test.ts
  src/module.playground/setup/setup.dex.ts
Labels: kind/feature, area/module-playground, area/playground-api-client

#146 added exception logging to playground
  .github/CODEOWNERS
  .github/workflows/ci/docker-compose.yml
  src/module.api/interceptors/exception.interceptor.ts
Labels: area/workflow, kind/feature, area/module-api

#148 `wallets/tokens/:id/send` to support sending all token id with automatic confirmation
  package-lock.json
  package.json
  packages/playground-api-client/__tests__/api/wallet.test.ts
  packages/playground-api-client/src/api/wallet.ts
  src/module.api/wallet.controller.ts
  src/module.playground/_module.ts
  src/module.playground/setup/setup.utxo.ts
Labels: kind/feature, area/module-playground, area/module-api, area/playground-api-client

#165 added workflow concurrency to cancel in progress
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
Labels: area/workflow, kind/chore
