Repository DeFiCh/playground, pull requests merged in 2021-09, with the labels that each got.

#170 reversed PoolPair a/b symbol to DFI last
  src/module.playground/setup/setup.dex.ts
Labels: area/module-playground, kind/refactor

#189 fixed oss-governance-project-pr.yml
  .github/workflows/oss-governance-project-pr.yml
Labels: area/workflow, kind/fix

#190 `set-oracle-data` bot
  src/module.playground/_module.e2e.ts
  src/module.playground/_module.ts
  src/module.playground/bot/bot.ts
  src/module.playground/bot/oracle.bot.e2e.ts
  src/module.playground/bot/oracle.bot.ts
  src/module.playground/setup/setup.oracle.ts
Labels: kind/feature, area/module-playground
