Repository DeFiCh/playground, pull requests merged in 2021-06, with the labels that each got.

#22 various playground QOL updates for testing
  .github/workflows/ci.yml
  __sanity__/docker-compose.yml
  package-lock.json
  package.json
  packages/playground-api-client/__tests__/api/playground.test.ts
  packages/playground-api-client/src/api/playground.ts
  packages/playground-api-client/src/api/stats.ts
  packages/playground-api-client/src/index.ts
  packages/playground-api-client/src/playground.api.client.ts
  src/app.configuration.ts
  src/main.ts
  src/module.api/_module.ts
  src/module.api/playground.controller.ts
  src/module.playground/_module.e2e.ts
  src/module.playground/_module.ts
  src/module.playground/playground.block.ts
  src/module.playground/setup/setup.dex.ts
  src/module.playground/setup/setup.token.ts
Labels: area/module-api, area/module-playground, area/playground-api-client, area/workflow, kind/feature

#29 update docker-compose.yml as playground network is not allowed in whale
  __sanity__/docker-compose.yml
  packages/playground-api-client/src/playground.api.client.ts
Labels: area/playground-api-client, kind/chore

#31 updated CODEOWNERS
  .github/CODEOWNERS
  .github/workflows/oss-governance-project-pr.yml
Labels: area/workflow, kind/chore

#36 improved @defichain/* update workflow
  .github/workflows/defichain-dependencies.yml
  package.json
Labels: area/workflow, kind/chore

#37 removed illegal `import { HttpStatus } from '@nestjs/common'` in packages
  packages/playground-api-client/src/errors/api.error.ts
Labels: area/playground-api-client, kind/chore

#43 ncu will only create PR if there are changes
  .github/workflows/defichain-dependencies.yml
Labels: area/workflow, kind/chore

#44 refactor v1 to v0 to follow the current release track of 0.x.x
  __sanity__/docker-compose.yml
  __sanity__/postman_collection.json
  packages/playground-api-client/__tests__/api/rpc.test.ts
  packages/playground-api-client/__tests__/stub.client.ts
  packages/playground-api-client/src/playground.api.client.ts
  src/module.api/_core/api.version.ts
  src/module.api/playground.controller.ts
  src/module.api/rpc.controller.ts
Labels: area/module-api, area/playground-api-client, kind/feature

#45 removed `t` from playground coins
  src/module.playground/setup/setup.dex.ts
  src/module.playground/setup/setup.token.ts
Labels: area/module-playground, kind/refactor

#46 allow port to be override to allow flexible deployment
  src/main.ts
Labels: kind/feature

#47 increased default wait for DeFiD to 45s
  src/module.playground/_module.ts
Labels: area/module-playground, kind/chore

#50 Add oracle setup
  src/module.playground/_module.e2e.ts
  src/module.playground/_module.ts
  src/module.playground/setup/setup.oracle.ts
Labels: area/module-playground, kind/feature

#53 add curl for docker healthcheck capability
  Dockerfile
Labels: kind/chore

#52 Use bech32 MN keys and owner address
  src/module.playground/setup/setup.oracle.ts
Labels: area/module-playground, kind/fix

#54 rename _health to _actuator to allow more features to be added for service controllability
  .github/workflows/ci.yml
  src/module.api/_module.ts
  src/module.api/actuator.controller.ts
  src/module.api/actuator.e2e.ts
Labels: area/module-api, area/workflow, kind/feature

#56 Whitelist oracle functions
  src/module.api/rpc.controller.ts
Labels: area/module-api, kind/chore
